<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/signup" method="post" enctype="multipart/form-data">
    <label>Email:</label><br>
    <input type="email" name="email"><br>
    <label>Name:</label><br>
    <input type="text" name="name"><br>
    <label>Password:</label><br>
    <input type="password" name="pwd"><br>
    <label>Avatar:</label><br>
    <input type="file" id="avatar" name="avatar" accept="image/*"><br><br>
    <input type="submit" value="signup">
</form>
</body>
</html>